<ion-view view-title="Playlists" hide-nav-bar="true">
  <ion-content class="backImg">
    <div class="padding text-center">
      <p style="margin: 0px;">Jan 28, 2016 - I want to get rid of the blue strip at the top ... Can you show some code
                           for that
                    ...
         PareshGami : i have updated the question ...
      </p>
    </div>
    <ion-slide-box class="slider" slide-interval="5000" auto-play="true" show-pager="false"
                   does-continue="true" on-slide-changed="slideChanged(index)">
      <ion-slide style="background: transparent;" ng-repeat="slide in slideNo">
        <img ng-src="img/slide{{slide}}.jpg"/>
      </ion-slide>
    </ion-slide-box>
    <div class="row list_task">
      <div collection-repeat="item in tasks" collection-item-width="'100%'"
         collection-item-height="31"  ng-class="$index%3!=0?'hideMe':''">
        <div class="row" ng-if="$index%3==0">
          <div class="col col-33">
            <div class="center cir" ng-show="$index==0" ng-click="programsGo()">
              <!--<p><i class="icon ion-ios-list-outline"></i></p>-->
              <img ng-src="./img/{{tasks[$index].img}}.png" alt="">
              <p class="dark subTitle">{{tasks[$index].name}}</p>
            </div>
            <div class="center cir" ng-show="$index!=0" ng-click="show1(tasks[$index].name)">
              <!--<p><i class="icon ion-ios-list-outline"></i></p>-->
              <img ng-src="./img/{{tasks[$index].img}}.png" alt="">
              <p class="dark subTitle">{{tasks[$index].name}}</p>
            </div>
          </div>

          <div class="col col-33">
            <div class="center cir" ng-click="show1(tasks[1+$index].name)">
              <!--<p><i class="icon ion-ios-list-outline"></i></p>-->
              <img ng-src="./img/{{tasks[1+$index].img}}.png" alt="">
              <p class="dark subTitle" ng-class="$index==3?'MrgTop':''">{{tasks[1+$index].name}}</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="center cir" ng-show="2+$index == 2" ng-click="goToView('spokesman')">
              <!--<p><i class="icon ion-ios-list-outline"></i></p>-->
              <img ng-src="./img/{{tasks[2+$index].img}}.png" alt="">
              <p class="dark subTitle">{{tasks[2+$index].name}}</p>
            </div>
            <div class="center cir" ng-show="2+$index != 2" ng-click="show1(tasks[2+$index].name)">
              <!--<p><i class="icon ion-ios-list-outline"></i></p>-->
              <img ng-src="./img/{{tasks[2+$index].img}}.png" alt="">
              <p class="dark subTitle">{{tasks[2+$index].name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <button class="button button-calm button-block" ng-click="scanBarcode()">
        scan barcode
      </button>
    </div>

    <div class="padding" ng-show="imgData.format">
      <p> Scanned Text: {{imgData.text}}</p>
      <p> Barcode Format: {{imgData.format}}</p>
    </div>
    <ion-slide-box class="slider padding-top" show-pager="false" auto-play="true"
                   does-continue="true" style="height: 70px;">
      <ion-slide ng-repeat="no in numberImg" style="background: transparent;">
        <img ng-src="img/{{numberImg[$index]}}.png" style="height: 60px;"/>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <!--<ion-footer-bar style="height: 10%;background-image: url('./img/admob.jpg');background-size: 100%;">
  </ion-footer-bar>-->
</ion-view>
