<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title align="center">
    <h2 class="stable" style="margin:0px;padding: 5px;">List with large image</h2>
  </ion-nav-title>
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-royal" ng-click="goToView('home')">
        Cancel
      </button>
      <!--<h2 class="title">Sub Header</h2>-->
    </div>

    <div class="padding">
      <div class="item-divider" style="background-color: rgba(235, 0, 139, 0.42);">
        <h3 class="text-center" style="height: 25px;margin: 0px;padding: 0;">List header</h3>
      </div>
      <div class="list card" style="box-shadow:unset;" ng-repeat="item in slideNo">
        <div class="item item-image item-text-wrap" style="margin: auto;">
          <img ng-src="./img/thumbnail{{1+$index}}.jpg" alt="" width="50%" height="auto" style="width: 50%;">

          <p>This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
             the content is from a card-body consisting of an image and paragraph text. The footer
             consists of tabs, icons aligned left, within the card-footer.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
