<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-calm" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input ng-attr-type="{{typeValue}}" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
      <div>
        <button class="button button-positive icon" ng-click="changeValue()"
                ng-class="valueS == true? 'ion-arrow-right-a':'ion-home'">
          sign in
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
