<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title align="center">
    <h2>Program</h2>
  </ion-nav-title>
  <ion-content class="backImg1 hideOnLandscape" scroll="false">
    <div class="row backCerImg firstImg onMobileRotate onIpad" style="height: 50%;">
      <h3 style="margin: auto;line-height: 2;"><b>Salı</b><br>09/02/2017</h3>
    </div>
  </ion-content>
  <ion-content class="backImg2 hideOnLandscape" scroll="false">
    <div class="row flipImg backCerImg secondImg onIpad" style="height: 50%;">
      <h3 class="flipImg" style="margin: auto;line-height: 2;"><b>Çarşamba</b><br>10/02/2017</h3>
    </div>
  </ion-content>
  <ion-content class="hideOnPortrait towImgBackground">
    <div class="row rowPortrait">
      <div class="col backCerImg">
        <h3 style="margin: auto;line-height: 2;padding: 15%;"><b>Salı</b><br>09/02/2017</h3>
      </div>
      <div class="col backCerImg flipImg">
        <h3 class="flipImg" style="margin: auto;line-height: 2;padding: 15%;"><b>Çarşamba</b><br>10/02/2017</h3>
      </div>
    </div>
  </ion-content>
</ion-view>


<!--
<ion-content class="backImg1" scroll="false">
  <div class="row backCerImg onMobileRotate hideOnMobile" style="height: 50%;">
    <h3 style="margin: auto;line-height: 2;"><b>Salı</b><br>09/02/2017</h3>
  </div>
  <div class="row">
    <div class="backCerImg onMobileRotate showOnMobile" style="height: 50%;">
      <h3 style="margin: auto;line-height: 2;"><b>Salı</b><br>09/02/2017</h3>
    </div>
    <div class="flipImg backCerImg showOnMobile" style="height: 50%;display: none;">
      <h3 class="flipImg" style="margin: auto;line-height: 2;"><b>Çarşamba</b><br>10/02/2017</h3>
    </div>
  </div>
</ion-content>
<ion-content class="backImg2" scroll="false">
  <div class="row flipImg backCerImg secondImg hideOnMobile" style="height: 50%;">
    <h3 class="flipImg" style="margin: auto;line-height: 2;"><b>Çarşamba</b><br>10/02/2017</h3>
  </div>
</ion-content>-->
