<ion-view>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title align="center">
    <h2 class="stable" style="margin:0px;padding: 5px;">Spokesman</h2>
  </ion-nav-title>
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left item-icon-right" href="#" ng-repeat="thumbItem in slideNo"
      ng-if="$index!=0&&$index!=3">
        <img ng-src="img/thumbnail{{thumbItem}}.jpg">
        <h2 class="royal">Spokesman{{thumbItem}}</h2>
        <p>Nine Inch Nails</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <div class="item-divider" style="background-color: rgba(235, 0, 139, 0.42);">
        <P class="text-center" style="margin: 0px;padding: 0;">List header</P>
      </div>
      <a class="item item-thumbnail-left item-icon-right" href="#" ng-repeat="thumbItem in slideNo"
      ng-if="$index==0||$index==3">
        <img ng-src="img/thumbnail{{thumbItem}}.jpg">
        <h2 class="royal">Spokesman{{thumbItem}}</h2>
        <p>Nine Inch Nails</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
