/* Empty. Add your own CSS if you like */
.backImg {
    /*background-image: url('/img/curve3.png')!important;*/
    background-color: rgba(17, 193, 243, 0.85);
    background-image: url('../img/curve.png') !important;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: bottom;
    background-size: 100%;
    opacity: 1;
}

.backImg1 {
    background-image: url('../img/curve1.png') !important;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;

}

.backImg2 {
    background-image: url('../img/curve2.png') !important;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.secondImg {
    margin-top: 70%;
}

@media screen and (min-width: 340px) and (max-width: 740px) and (orientation: landscape ) {
    .onMobileRotate {
        background-size: 35% !important;
        /*margin-top: 10%;*/
    }

    .hideOnLandscape {
        display: none;
    }

    .showOnMobile {
        display: block !important;
        background-size: 35% !important;
    }
}

@media screen and (min-width: 741px) and (max-width: 799px) {
    .onIpad {
        background-size: 60% !important;
        height: 45% !important;
    }

    div.onIpad > h3 {
        font-size: 45px !important;
    }

    .secondImg {
        margin-top: 50%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .onIpad {
        background-size: 60% !important;
        height: 35% !important;
    }

    div.onIpad > h3 {
        font-size: 45px !important;
    }

    .firstImg {
        margin-top: 5%;
    }

    .secondImg {
        margin-top: 70%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1025px) {
    .onIpad {
        background-size: 60% !important;
        height: 45% !important;
    }

    div.onIpad > h3 {
        font-size: 45px !important;
    }

    .secondImg {
        margin-top: 50%;
    }
}

@media screen and (orientation: landscape ) {
    .hideOnLandscape {
        display: none;
    }

    .towImgBackground {
        background-image: url('../img/2curve.png') !important;
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
    }

    .rowPortrait {
        margin-top: 5%;
        height: 225px;
    }
    @media screen and (max-width: 569px) {
        .rowPortrait {
            height: 205px!important;
        }
    }
    @media screen and (min-width: 570px) and (max-width: 719px) {
        .rowPortrait {
            height: 235px!important;
        }
    }
    @media screen and (min-width: 720px) and (max-width: 740px) {
        .rowPortrait {
            height: 260px!important;
        }
    }
    @media screen and (min-width: 741px) and (max-width: 1024px) {
        .rowPortrait {
            margin-top: 15%;
            height: 360px!important;
        }
        .rowPortrait > div > h3{
            padding: 20%!important;
            font-size: xx-large;
        }
    }
    @media screen and (min-width: 1025px) and (max-width: 1279px) {
        .rowPortrait {
            margin-top: 15%;
            height: 480px!important;
        }
        .rowPortrait > div > h3{
            padding: 20%!important;
            font-size: 40px;
        }
    }
    @media screen and (min-width: 1280px) and (max-width: 1367px) {
        .rowPortrait {
            margin-top: 7%;
            height: 480px!important;
        }
        .rowPortrait > div > h3{
            padding: 20%!important;
            font-size: 40px;
        }
    }
}

@media screen and (orientation: portrait ) {
    .hideOnPortrait {
        display: none;
    }
}

.flipImg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /*filter: FlipH;*/
    -ms-filter: "FlipH";
}

.backCerImg {
    background-image: url('../img/progImg.png') !important;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: bottom;
    background-size: 90%;
    /*  center text V.H   */
    text-align: center;
    vertical-align: middle;
    /*margin-top: 2%;*/
}

/*list*/
.list_task a {
    text-decoration: none;
    color: #000
}

/*.list_task .row {
    height: 100px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 14px;
}*/

.cir {
    /*width: 60px;
    height: 60px;*/
    border-radius: 60px;
    /*background: #727272;*/
    text-align: center;
    color: #fff;
    /*padding-top: 12px;*/
}

.cir p {
    font-size: 35px;
    font-weight: bold;
    font-family: MISTRESS;
}

.cir span {
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.subTitle {
    font-size: 15px !important;
    /*font-weight: 200!important;*/
}

.MrgTop {
    margin-top: 7px;
}

.action-sheet-title, .action-sheet-option {
    text-align: center !important;
}

.action-sheet-option {
    padding: 0px !important;
}

.slider {
    height: 125px;
}

.slider-slide {
    height: auto;
    color: #000;
    background-color: #fff;
    text-align: center;
}

.hideMe {
    display: none !important;
    background-color: #4cd964;
}

.addShadow {
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
}

/* Action Sheet */
div.action-sheet-backdrop > div {
    margin-bottom: 50px;
}